body {
    background-image: url(https://media.istockphoto.com/photos/office-with-dark-wooden-walls-picture-id668431138?k=6&m=668431138&s=612x612&w=0&h=LToc3VJ5lynzKuKG0IYMQlipX4ViUwt9cOnid6V45MU=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
/* estios de la tarjeta de presentación */
.tarjeta {
    border: 10px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    background-image: url(https://th.bing.com/th/id/R.a7dbec05028a356559582dc7b32d2dcc?rik=9efXCYRIyzl1qQ&pid=ImgRaw&r=0);
    opacity: 0.9;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

 
  
  .tarjeta h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .tarjeta img {
    border-radius: 50%;
  }

/* estilos del  currículum vitae*/
h1 {
    text-align: center;
}
.hoja {
    border: 10px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background-image: url(https://th.bing.com/th/id/R.a7dbec05028a356559582dc7b32d2dcc?rik=9efXCYRIyzl1qQ&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.datosP {
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 15px;
    border: 5px solid #f9f9f9;
    text-align: center;

}

.datosP img {
    border-radius: 100%;

}



/* redes sociales, no tengo mas redes, es mas, ni uso facebook jjajajaja */
.redes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
    gap: 0px;
}

.youtube:hover img {
    transform: scale(1.2);
}



.face:hover img {
    transform: scale(1.2);
}

/* media queries*/

@media (max-width: 769px) {
    .tarjeta {
        display: none;
    }
}
@media (min-width: 770px){ 
    .hoja {
        display: none;

}
}
